<li>
	{{name}}

	<button class="btn change-appetite" data-id="{{id}}" data-newappetite="{{appetite}}">
		{{#if appetite}}DEVOUR IT!{{else}}NOT DEVOURED!{{/if}}
	</button>


	<button class="btn delete-burger" data-id="{{this.id}}"><i class="fas fa-trash-alt"></i></button>
</li>