<li>
	{{name}}

	<button class="btn change-appetite" data-id="{{id}}" data-newappetite="{{appetite}}">
		{{#if appetite}}LET'S EAT!{{else}}I'M STUFFED!{{/if}}
	</button>


	<button class="btn delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>